#header{
	background-image: url("../img/header-6.jpg");
	  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

min-height:120vh;


	.menu{z-index:10;
		border-bottom-left-radius:  20px;
		transition: all 1s ease;
		.right{
			h1{
				font-family: 'Pacifico', cursive;
				font-size: 40px;
			}
		}
		border-bottom :1px solid  rgba(0,0,0,0.3);
		
		.left{
			padding: 25px 0px;
			margin-top: 20px ;
			.drop{
				position: relative;
				ul{
					position: absolute;
					li{
						list-style: none;
					}
				}
			}

			>ul{
				float: right;

				>li{
					cursor: point;
					float: left;
					list-style-type: none;
					margin-left: 40px;
					text-transform: capitalize;
					&:first-child{
						color: #227EA7;
					}
					
					>i{

						margin-left: 40px;
						font-size: 16px;
					}


				}
			}
			.iconsHead{
				i{
					margin-left: 40px;
				}
			}

	
		}
	ul > li:hover{
		color: #227EA7;
		transition: all .2s ease;
	}

    }
    .yaziHead
		{
			a{
				color: white;
				text-decoration: none;
			}
			padding-top:70px;
			text-align: center;
			color: white;
			h3{
				color: #38424A;
				color: white;
							font-size: 70px;

			}
			>h1{
				font-size: 100px;
				color: white;
				padding-bottom:20px;
				font-weight: 700;
			}
			p{
				font-size: 14px;
				color: white; 
			
				padding-bottom:60px;
			}

			.butHead{
				padding-left: 34%;
				>div{
					width: 175px;
					height: 50px;
						border-radius :50px;
					float: left;
					border:2px solid white;
					margin-left: 100px;
					background:transparent;



				  >p{
				  	padding-top: 13px;
				  	}}

				.bat:hover{
					background:#15A5EC;
					transition: all .3s ease;
					cursor: pointer;
					border:0px;
					
					

				}
		
			}
		}
		.drop{
			ul{
				padding-left:0px;
				top: 10px;
				background:#123456;
				padding:0px 90px 0px 30px;
				z-index: 2;
				display: none;

				li{
					line-height: 40px;
					min-width:167px;
					border-bottom :0.5px solid #3b479a;
					color:  #989fd4;

				}
			}
		}
		.drop{
			top: 35px;
			ul {
				li:hover ul{
					display: block;
				}
			}
		}
		.exdrop{
			width: 200px;
			float: left;
			position: absolute;
			li{
				position: absolute;
			}
			h1{
				font-size: 20px;
			}
		}
		.exdrop:first-child{
			left: 200px;
			background:blue;
		}
			.exdrop:nth-child(2){
			right:40px;
			background:red;
		}
		.exdrop:nth-child(3){
			background:green;
		}
		.exdrop:nth-child(4){
			background:pink;
			right: 240px;
		}
		.timer{
			padding-bottom:60px;
			.time{
				display: inline-block;
				height: 165px;
				width: 165px;
				background:transparent;
				border:2px solid white;
				margin-left: 20px;
				border-radius:100%;
				
				h3{
					margin-top: 60px;
					font-size: 45px;
					color: rgba(58, 24, 104, 0.59);
					font-weight: bolder;
				}
			}

		}
		.domain{
			position: relative;
		}

}