#features{
	padding:50px;
	padding-bottom:70px;
	p{
		color: #677E88;
	}
	background:#F5F5F5;
	.boxesFeat{
		margin-left: 30px;
	}
	.featYazi{
			margin-bottom: 60px;
		h1{
		text-align: center;
		color: #34495E;
		font-weight: bolder;
		font-size: 55px;
		margin-bottom: 20px;
	 }
	 p{
	 	text-align: center;
	 	font-size: 19px;
	 
	 }
	}
	.iconFeat{
		i{
			color: #14A5EB;
			font-size: 70px;
		}
	}
}