#footer{
	padding:40px 40px 0px 40px;
	h1{
		color:#343842;
		font-family: 'Pacifico', cursive;
	}
	
	p{
		text-align: center;
		padding-bottom:30px;
	}
	.bot{
		background:#F5F5F5;
		p{
			padding-top:10px;
			color: #AAB2B6;
		}
	}
	
	.iconFoot {
		margin-left: 40%;
		padding-bottom:30px;
		
		i
		{margin: 0px 15px;
			text-align: center;
			font-size: 25px;
			color: #E1E1E1;
		}
		i:hover{
			color: #1083BB;
		}
	}
}