#testi{
padding:70px;	

border-bottom:1px solid grey;
	h1{
		font-size: 45px;
		font-weight: bolder;
	}
	p{
		text-align: center;
		padding-bottom:40px;
	}
	.perswek{
		margin-left: 80px;
	}
	img{
		height: 110px;
		width:110px;
		border-radius: 100%;
	}
	.person{
		// margin-right: 40px;
	}
	h6{
		margin-left: 20px;
	}
	.testIcon{
		text-align: center;

		p{
			display: inline-block;
			cursor: pointer;

		}
	}
	.lent{
		position: relative;
		
		width: 210%;
		transition: all 1s ease;
	
	}
	.karusel{
		float: left;
		width: 378px;

	
	}
	.row .col-md-12:nth-child(2)
	{
		overflow-x: hidden;
	}
}