#header {
  background-image: url("../img/sl1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh; }
  #header .menu {
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    #header .menu .right h1 {
      font-family: 'Pacifico', cursive;
      font-size: 40px; }
    #header .menu .left {
      padding: 25px 0px;
      margin-top: 20px; }
      #header .menu .left .drop {
        position: relative; }
        #header .menu .left .drop ul {
          position: absolute; }
          #header .menu .left .drop ul li {
            list-style: none; }
      #header .menu .left > ul {
        float: right; }
        #header .menu .left > ul > li {
          cursor: point;
          float: left;
          list-style-type: none;
          margin-left: 40px;
          text-transform: capitalize; }
          #header .menu .left > ul > li:first-child {
            color: #227EA7; }
          #header .menu .left > ul > li > i {
            margin-left: 40px;
            font-size: 16px; }
      #header .menu .left .iconsHead i {
        margin-left: 40px; }
    #header .menu ul > li:hover {
      color: #227EA7;
      transition: all .2s ease; }
  #header .yaziHead {
    padding-top: 70px;
    text-align: center; }
    #header .yaziHead > h3 {
      color: #38424A;
      font-size: 18px; }
    #header .yaziHead > h1 {
      font-size: 60px;
      padding-bottom: 40px; }
    #header .yaziHead > p {
      font-size: 25px;
      color: #38424A;
      padding-bottom: 60px; }
    #header .yaziHead .butHead {
      padding-left: 34%; }
      #header .yaziHead .butHead > div {
        width: 175px;
        height: 50px;
        border-radius: 50px;
        float: left;
        border: 2px solid rgba(0, 0, 0, 0.5);
        background: transparent; }
        #header .yaziHead .butHead > div > p {
          padding-top: 13px; }
      #header .yaziHead .butHead .bat:hover {
        background: #15A5EC;
        transition: all .3s ease;
        cursor: pointer;
        border: 0px; }
      #header .yaziHead .butHead .vf {
        margin-left: 25px; }
      #header .yaziHead .butHead .vf:hover {
        background: #15A5EC;
        transition: all .3s ease;
        cursor: pointer;
        border: 0px; }
  #header .drop ul {
    padding-left: 0px;
    top: 10px;
    background: #123456;
    padding: 0px 90px 0px 30px;
    z-index: 2;
    display: none; }
    #header .drop ul li {
      line-height: 40px;
      min-width: 167px;
      border-bottom: 0.5px solid #3b479a;
      color: #989fd4; }
  #header .drop {
    top: 35px; }
    #header .drop ul li:hover ul {
      display: block; }
  #header .exdrop {
    width: 200px;
    float: left;
    position: absolute; }
    #header .exdrop li {
      position: absolute; }
    #header .exdrop h1 {
      font-size: 20px; }
  #header .exdrop:first-child {
    left: 200px;
    background: blue; }
  #header .exdrop:nth-child(2) {
    right: 40px;
    background: red; }
  #header .exdrop:nth-child(3) {
    background: green; }
  #header .exdrop:nth-child(4) {
    background: pink;
    right: 240px; }

#multiuse {
  padding: 50px; }
  #multiuse .yazilarMult .yazi {
    text-align: center; }
    #multiuse .yazilarMult .yazi h1 {
      color: #34495E;
      font-weight: bolder;
      font-size: 45px; }
    #multiuse .yazilarMult .yazi p {
      font-size: 22px;
      padding: 20px 0px; }
    #multiuse .yazilarMult .yazi a {
      text-decoration: none; }
  #multiuse .yazilarMult .multWek {
    height: 450px;
    width: 900px;
    margin-left: 13%;
    box-shadow: 0px 0px 40px; }
    #multiuse .yazilarMult .multWek img {
      height: 100%;
      width: 100%; }

#features {
  padding: 50px;
  padding-bottom: 70px;
  background: #F5F5F5; }
  #features p {
    color: #677E88; }
  #features .boxesFeat {
    margin-left: 30px; }
  #features .featYazi {
    margin-bottom: 60px; }
    #features .featYazi h1 {
      text-align: center;
      color: #34495E;
      font-weight: bolder;
      font-size: 55px;
      margin-bottom: 20px; }
    #features .featYazi p {
      text-align: center;
      font-size: 19px; }
  #features .iconFeat i {
    color: #14A5EB;
    font-size: 70px; }

#prog {
  padding: 50px 0px;
  border-bottom: 0.5px solid darkgray; }
  #prog .progLeft p {
    margin-left: 100px;
    font-size: 17px; }
  #prog .progRight {
    padding-top: 120px; }
    #prog .progRight > p {
      color: #868686; }
    #prog .progRight .progresler div {
      height: 15px;
      border-radius: 10px; }
    #prog .progRight .progresler .bigProg {
      margin-bottom: 40px;
      border: 1px solid grey; }
  #prog .smalProg {
    position: relative !important;
    height: 100%;
    width: 0px;
    background: linear-gradient(to right, #FB4182, #1996D7); }
  #prog .hesab {
    border-right: 1px solid grey;
    background: #2D344D;
    height: 175px;
    margin: 0px -15px; }
    #prog .hesab h1 {
      padding-top: 40px;
      color: white; }
    #prog .hesab h6 {
      text-align: center;
      color: #A8ABB5; }
  #prog .brands {
    padding: 70px 70px 30px 70px; }
    #prog .brands div {
      width: 16.66%;
      float: left; }
  #prog .percent {
    position: absolute;
    right: 0px; }

#blog {
  padding: 70px 40px; }
  #blog h1 {
    padding-bottom: 20px; }
  #blog .bloglar .blogWek {
    height: 240px;
    width: 370px; }
    #blog .bloglar .blogWek img {
      height: 100%;
      width: 100%; }
  #blog .bloglar .yaziblog h3 {
    padding-bottom: 15px;
    color: black; }
  #blog .bloglar .yaziblog > p {
    font-size: 14px;
    color: #BBC2C5;
    float: right; }
  #blog .bloglar .yaziblog i {
    color: #BBC2C5; }
  #blog .rm {
    color: #14A5EB;
    float: right;
    font-size: 14px;
    cursor: pointer; }
  #blog .rm:hover {
    color: #BBC2C5; }

#sub {
  background-image: url("../img/b1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px; }
  #sub .yazisub {
    position: relative; }
    #sub .yazisub > div {
      margin-bottom: 120px; }
    #sub .yazisub h1 {
      color: white; }
    #sub .yazisub p {
      text-align: center;
      font-size: 15px;
      padding-bottom: 40px;
      color: #A3ACB0; }
    #sub .yazisub input {
      position: relative;
      left: 23%;
      height: 55px;
      width: 490px;
      border-radius: 30px;
      border: 1px solid #123456;
      background: #5C646D; }
  #sub .butsub {
    height: 50px;
    width: 145px;
    background: #1083BB;
    position: absolute;
    right: 20%;
    bottom: 3px;
    border-radius: 30px;
    color: white; }
    #sub .butsub h4 {
      text-align: center;
      margin-top: 18px; }
  #sub .butsub:hover {
    background: transparent;
    border: 2px solid #1083BB; }

#testi {
  padding: 70px;
  border-bottom: 1px solid grey; }
  #testi h1 {
    font-size: 45px;
    font-weight: bolder; }
  #testi p {
    text-align: center;
    padding-bottom: 40px; }
  #testi .perswek {
    margin-left: 80px; }
  #testi img {
    height: 110px;
    width: 110px;
    border-radius: 100%; }
  #testi h6 {
    margin-left: 20px; }
  #testi .testIcon {
    text-align: center; }
    #testi .testIcon p {
      display: inline-block;
      cursor: pointer; }
  #testi .lent {
    position: relative;
    width: 210%;
    transition: all 1s ease; }
  #testi .karusel {
    float: left;
    width: 378px; }
  #testi .row .col-md-12:nth-child(2) {
    overflow-x: hidden; }

#footer {
  padding: 40px 40px 0px 40px; }
  #footer h1 {
    color: #343842;
    font-family: 'Pacifico', cursive; }
  #footer p {
    text-align: center;
    padding-bottom: 30px; }
  #footer .bot {
    background: #F5F5F5; }
    #footer .bot p {
      padding-top: 10px;
      color: #AAB2B6; }
  #footer .iconFoot {
    margin-left: 40%;
    padding-bottom: 30px; }
    #footer .iconFoot i {
      margin: 0px 15px;
      text-align: center;
      font-size: 25px;
      color: #E1E1E1; }
    #footer .iconFoot i:hover {
      color: #1083BB; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

h1 {
  text-align: center;
  color: #34495E;
  font-weight: bolder;
  font-size: 55px;
  margin-bottom: 20px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
